.card {
  max-width: 282px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.card__description {
  color: #000;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  padding: 25px 20px;
  justify-content: space-between;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.2;
  font-weight: 900;
  font-size: 24px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  padding: 12px;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
