.header {
  margin-top: 45px;
  border-bottom: rgb(84 84 84 / 0.7) solid 1px;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 580px) {
  .header {
    max-width: 320px;
    margin-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 32px 27px;
  }
}
