.footer {
  margin: 67px auto 60px;
}

.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 580px) {
  .footer {
    margin: 48px auto 36px;
  }

  .footer__copyright {
    font-size: 14px;
    margin-left: 19px;
  }
}
